<!DOCTYPE HTML>
<!--
	Hyperspace by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Jesse Posner</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/png" href="../../public/images/favicon-generic-32.png" />
		<!--[if lte IE 8]><script src="../../public/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../../public/css/main.css" />
		<link rel="stylesheet" href="../../public/css/custom.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="../../public/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="../../public/css/ie8.css" /><![endif]-->
	</head>
	<body>

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Welcome</a></li>
							<li><a href="#one">Projects</a></li>
							<li><a href="#two">Who am I</a></li>
							<li><a href="#three">Get in touch</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1>Jesse Posner</h1>
							<p>Software Engineer in San Francisco</p>
							<ul class="actions">
								<li><a href="#one" class="button scrolly">Learn more</a></li>
							</ul>
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<a href="http://www.laupad.com/" class="image">
								<img src="../../public/images/launchpad.png" alt="LaunchPad" />
							</a>
							<div class="content">
								<div class="inner">
									<h2>LaunchPad</h2>
									<p>LaunchPad is a full-stack web application inspired by KickStarter, but with a twist: backers receive equity shares for their financing contributions.</p>
									<ul class="actions">
										<li><a href="http://www.laupad.com/" class="button">Live</a></li>
										<li><a href="https://github.com/jesseposner/LaunchPad" class="button">Github</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<a href="http://www.galaxyinvaders.space/" class="image">
								<img src="../../public/images/spaceinvaders.png" alt="Space Invaders" />
							</a>
							<div class="content">
								<div class="inner">
									<h2>Galaxy Invaders</h2>
									<p>Browser-based game inspired by Space Invaders.</p>
									<ul class="actions">
										<li><a href="http://www.galaxyinvaders.space/" class="button">Live</a></li>
										<li><a href="https://github.com/jesseposner/jesseposner.github.io" class="button">Github</a></li>
									</ul>
								</div>
							</div>
						</section>
						<section>
							<div class="image">
								<img src="../../public/images/railslite.png" alt="Rails Lite" />
							</div>
							<div class="content">
								<div class="inner">
									<h2>Rails Lite</h2>
									<p>Rails Lite is a web application framework inspired by Ruby on Rails. This portfolio site is built on Rails Lite. </p>
									<ul class="actions">
										<li><a href="https://github.com/jesseposner/Rails-Lite" class="button">Github</a></li>
									</ul>
								</div>
							</div>
						</section>
					</section>

				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>Who am I</h2>
							<p>
								I’m a passionate software developer with experience in numerous technologies including, Ruby, JavaScript, SQL, HTML, and CSS.
							</p>
							<div class="features">
								<section>
									<span class="icon major fa-code"></span>
									<h3>I'm a detail-oriented builder.</h3>
									<p>I've conceived and executed compelling software projects, such as LaunchPad, a single-page web application, with a Rails back-end and React front-end, that facilitates easy startup investments and accepts payments with credit card or bitcoin via Stripe.js integration.</p>
								</section>
								<section>
									<span class="icon major fa-desktop"></span>
									<h3>I'm a fast learner.</h3>
									<p>I have a track-record of repeatedly mastering new programming languages, having quickly taught myself Ruby and JavaScript, and excelling at App Academy, one of the most challenging coding schools.</p>
								</section>
								<section>
									<span class="icon major fa-cog"></span>
									<h3>I'm a problem solver and researcher.</h3>
									<p> I’m a rigorous debugger who relentlessly drives towards solutions without requiring outside direction. I have an insatiable curiosity that inspires me to continuously investigate and discover.</p>
								</section>
								<section>
									<span class="icon major fa-lock"></span>
									<h3>I have extensive experience working with startups.</h3>
									<p>I’m intimately familiar with the strategies and risks that confront a startup, and have advised over 30 technology startups, including 3 Y-Combinator backed startups, as a corporate attorney, on a wide-range of issues such as intellectual property, financing, and terms of service.</p>
								</section>
								<section>
									<span class="icon major fa-chain"></span>
									<h3>I'm a leader and collaborator.</h3>
									<p>Founding and growing my own legal practice taught me valuable leadership skills, as well as the collaborative abilities that were necessary to acquire and maintain client relationships.</p>
								</section>
								<section>
									<span class="icon major fa-diamond"></span>
									<h3>I'm a creative thinker.</h3>
									<p>I invented and prototyped a web application that dramatically reduces the cost of authenticating emails by hashing and time-stamping proof-of-delivery in the Bitcoin blockchain.</p>
								</section>
							</div>
							<div class="features">
								<section class="tech-section">
									<h1>Languages and Technologies</h1>
									<ul class="tech-list">
						        <li><img src="../../public/images/ruby.png"><h3>Ruby</h3></li>
						        <li><img src="../../public/images/rails.png"><h3>Rails</h3></li>
						        <li><img src="../../public/images/javascript.png"><h3>JavaScript</h3></li>
						        <li><img src="../../public/images/react.png"><h3>React</h3></li>
						        <li><img src="../../public/images/flux.png"><h3>Flux</h3></li>
										<li><img src="../../public/images/jquery.png"><h3>jQuery</h3></li>
										<li><img src="../../public/images/postgresql.png"><h3>PostgreSQL</h3></li>
										<li><img src="../../public/images/html.png"><h3>HTML5</h3></li>
										<li><img src="../../public/images/css.png"><h3>CSS3</h3></li>
										<li><img src="../../public/images/git.png"><h3>Git</h3></li>
						      </ul>
								</section>
							</div>
						</div>
					</section>

				<!-- Three -->
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Get in touch</h2>
							<div class="split style1">
								<section>
									<form method="post"
												action="https://formspree.io/jesse.posner@gmail.com">
										<div class="field half first">
											<label for="name">Name</label>
											<input type="text" name="name" id="name" />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="text" name="email" id="email" />
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="5"></textarea>
										</div>
										<ul class="actions">
											<li><a href="" class="button submit">Send Message</a></li>
										</ul>
									</form>
								</section>
								<section>
									<ul class="contact">
										<li>
											<h3>Email</h3>
											<a href="mailto:jesse.posner@gmail.com">
												jesse.posner@gmail.com
											</a>
										</li>
										<li>
											<h3>Phone</h3>
											<span>(888) 745-2375</span>
										</li>
										<li>
											<h3>Social</h3>
											<ul class="icons">
												<li>
													<a href="https://twitter.com/jesseposner"
														 class="fa-twitter">
														<span class="label">Twitter</span>
													</a>
												</li>
												<li>
													<a href="https://github.com/jesseposner"
													   class="fa-github">
														<span class="label">GitHub</span>
													</a>
												</li>
												<li>
													<a href="https://www.linkedin.com/in/jesseposner"
													   class="fa-linkedin">
														<span class="label">LinkedIn</span>
													</a>
												</li>
											</ul>
										</li>
									</ul>
								</section>
							</div>
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="../../public/js/jquery.min.js"></script>
			<script src="../../public/js/jquery.scrollex.min.js"></script>
			<script src="../../public/js/jquery.scrolly.min.js"></script>
			<script src="../../public/js/skel.min.js"></script>
			<script src="../../public/js/util.js"></script>
			<!--[if lte IE 8]><script src="../../public/js/ie/respond.min.js"></script><![endif]-->
			<script src="../../public/js/main.js"></script>

	</body>
</html>
